/**
 * CSS framework
 *
 * update : 2016.10.13
 */
@charset "utf-8";

*,*:after,*:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;text-rendering:optimizelegibility;}/* 添加让用户可以自定义字体 */
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,menu,nav,section{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{display:block;}
body{font-family: PingFang SC, Lantinghei SC, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
svg:not(:root){overflow:hidden}
table{border-collapse:collapse;border-spacing:0} /* 去掉各Table cell 的边距并让其边重合 */
th{font-weight: normal;}
thead{display: table-header-group;}
tr,img{page-break-inside: avoid;}
input{outline: 0;border: 0}
button,input,optgroup,select,textarea{color:inherit;font:inherit;}
button,input,select,textarea{font-family:inherit;font-size:inherit;line-height:inherit}
button{overflow:visible}
button,input[type="button"],input[type="submit"],input[type="reset"]{line-height: normal;cursor: pointer;}
input[type=checkbox],input[type=radio]{margin:4px 0 0;margin-top:1px \9;line-height:normal}
button[disabled],html input[disabled]{cursor:default}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
fieldset,img{border: none}
label{display:inline-block;max-width:100%;font-weight:bold;font-size: 12px;margin: .5em 1em .5em 0}
abbr[data-original-title],abbr[title]{cursor:help;border-bottom:1px dotted #777}
[v-cloak]{display:none} /*Vue模板标签隐藏*/
[role=button]{cursor:pointer} 
[hidden]{display: none;} /*支持IE7+*/

a{background-color:transparent;text-decoration:none}

.small,small{font-size:85%}
.text-right{text-align:right}
.text-center{text-align:center}/*文本居中*/
.text-nowrap{white-space:nowrap}/*段落文本不换行*/
.text-wrap,.text-wrap td,.text-wrap th{word-wrap: break-word;word-break: break-all;} /*强制段落文本换行*/
.text-ellipsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;} /*文本超出省略*/
.text-lowercase{text-transform:lowercase}
.text-uppercase{text-transform:uppercase}
.text-capitalize{text-transform:capitalize}
.text-underline{text-decoration:underline}
.text-hide{color: transparent;} /*文本隐藏*/
.text-muted{color:#777}
.text-primary{color:#337ab7}

/*浮动*/

.fl{float: left;}
.fr{float: right;}
.cf{zoom: 1;} 
.cf:before,.cf:after{content: '';display: block;height: 0;overflow: hidden;visibility: hidden;}
.cf:after{clear: both;}


/*按钮*/
.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;white-space:nowrap;padding:4px 12px;font-size:14px;line-height:1.42857143;border-radius:3px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-color: #dedede;color: #555}
.btn:focus,.btn:hover{text-decoration:none;outline:0;background: #ccc}
.btn:active,.btn.active{outline:0;background-image:none}